/* !HTML5 reset
---------------------------------------*/
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

/* !Typografy
---------------------------------------*/
body {
	font: 14px/1.5 Helvetica, Arial, FreeSans, Sans-serif;
	}

body, header a, h2 a, h3 a {
	color: #000;
	}

header h2 {
	font-size: 1.2em;
	font-style: italic;
	font-weight: normal;
	}

h1, h2, h3 {
	font-family: Helvetica, 'Tinos', arial, serif;
	}

p {
	width: 480px;
	}

h1 {
	font-size: 3.7em;
	margin-bottom: 3px;
	}

h1 .small {
	font-size: 0.4em;
	}

h2 {
	font-size: 1.5em;
	margin: 3em 0 1em;
	}

h3 {
	text-align: left;
	margin: 0;
	padding: 0;
	}

a {
	color: #960078; /* #fb79af; */
	text-decoration: none;
	}
	
	a:hover, a.hover {
		color: #000;
		}

a img {
	border: none;
	}
	
	a:hover img {
		background: none;
		}

time {
	color: #888;
	}

dt {
	font-weight: bold;
	}

.footer {
	text-align: center;
	font-style: italic;
	}

/* !Comments
---------------------------------------*/
#disqus_thread {
	background: #fff;
	padding: 10px;
	}

/* !Content
---------------------------------------*/
body {
	margin-top: 1.0em;
	background: #ffffff;
	}

h1, h2, h3, h4, dl, ul, ol, p, .description{
	width: 480px;
	}

ul {
	margin: 2em 0;
	}

ul.list {
	list-style: none;
	margin: 0;
	padding: 0 10px;
	}

header, article, footer {
	margin: 0 auto;
	width: 700px;
	}

footer {
	margin-top: 3em;
	border-top: 1px dotted #000;
	}

.download {
	float: right;
	}

section.example, pre {
	padding: 2em;
	margin: 0 0 1em;
	}

section.example {
	background: #ccc;
	}

dl {
	padding: 15px 15px 5px;
	background: #4087ff;
	width: 450px;
	}

	dd {
		margin: 0 40px 10px;
		}

.footer {
	padding-top: 30px;
	}