<!DOCTYPE HTML>
<html lang="en">
	<head> 
		<meta charset="utf-8" />
		<title>stenehall/{{ page.title }} @ GitHub</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

		<link rel="stylesheet" href="/media/css/style.css">
		<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Tinos:regular,italic,bold&amp;subset=latin'>
		<!--[if IE]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		{{ page.head }}
	</head>

	<body>
		{{ content }}
		<script>

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-19825959-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</body>
</html>
