---
layout: base
---

<header>
	<h1><a href="http://github.com/stenehall/">Stenehall</a> <span class="small">by <a href="http://github.com/stenehall">stenehall</a></span></h1>
	<h2>{{page.tagline}}</h2>
</header>

<article>
	{{ content }}

	{% if site.categories.jquery %}
		<h2>Github jQuery Projects</h2>
		<ul class="list">
			{% for post in site.categories.jquery %}
			<li>
				<a href="{{ post.url }}" title="{{ post.title }}">
					<span class="date">
						<span class="day">{{ post.date | date: '%d' }}</span> 
						<span class="month"><abbr>{{ post.date | date: '%b' }}</abbr></span>
						<span class="year">{{ post.date | date: '%Y' }}</span>
					</span>
					<span class="title"> &raquo; {{ post.title }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	{% endif %}

	{% if site.categories.habari %}
		<h2>Github Habari</h2>
		<ul class="list">
			{% for post in site.categories.habari %}
			<li>
				<a href="{{ post.url }}" title="{{ post.title }}">
					<span class="date">
						<span class="day">{{ post.date | date: '%d' }}</span> 
						<span class="month"><abbr>{{ post.date | date: '%b' }}</abbr></span>
						<span class="year">{{ post.date | date: '%Y' }}</span>
					</span>
					<span class="title"> - {{ post.title }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	{% endif %}

</article>

<footer>
	<p>Get the source code on GitHub : <a href="http://github.com/stenehall/">stenehall/</a></p>
</footer>

