---
layout: base
---

<header>
	<h1><a href="http://github.com/stenehall/">Stenehall</a> <span class="small">by <a href="http://github.com/stenehall">stenehall</a></span></h1>
	<h2>{{page.tagline}}</h2>
</header>

<article>
	{{ content }}
	<h2>Github Projects</h2>
	<ul>
		<li><a href="http://stenehall.github.com/jQuery.magiclogin/">Magic login</a></li>
		<li><a href="http://stenehall.github.com/jQuery.showpasswords/">Show Passwords</a></li>
	</ul>
</article>

<footer>
	<p>Get the source code on GitHub : <a href="http://github.com/stenehall/">stenehall/</a></p>
</footer>

